<form class="m-3" [formGroup]="form12">
  <legend>Complete los datos para la tarea</legend>

  Nombre:
  <input type="text" class="form-control" formControlName="titulo" />

         <div *ngIf="!form12.get('titulo')?.valid" class="text-danger text-end">
          {{form12.get('titulo')?.errors | json}}
      </div>
  Fecha :
    <input type="date" class="form-control"  formControlName="fecha"/>



  <button class="btn btn-success w-100 mt-2" (click)="formSubmit()" >Agregar</button>
</form>

<div>
  <h4>Degug Info</h4>
  <div>Modelo: {{form12.value | json}}</div>

</div>

